Flask
python-dotenv
google-api-python-client==2.115.0
google-auth
google-auth-httplib2
google-auth-oauthlib==1.2.0
requests
google-genai>=1.0.0
spotipy==2.23.0
flask-session
werkzeug
psutil
pytz
google-cloud-speech
google-cloud-texttospeech
qrcode==8.0
Pillow==11.0.0
requests-oauthlib
python-dateutil